<!DOCTYPE html>
<html lang="en">
  <head>
    <title>News Aggregator</title>
  </head>

  <body>
    <h2>All Articles</h2>
    <%= @articles %>
    <br>
    <a href="/articles/new">Submit a New Article</a>
  </body>
</html>
