<!DOCTYPE html>
<html lang="en">
  <head>
    <title>News Aggregator</title>
  </head>

  <body>
    <h2>All Articles</h2>

    <% @articles.each do |article| %>
    <h3><%= "#{article[0]}" %></h3>
    <p>
    <%= "#{article[2]}" %>
    <br>
    <i>URL: <a href="<%= article[1] %>"target="_blank"><%= "#{article[1]}" %></a></i>
    <br>
    <% end %>
  </p>
    <br>
  </body>
  <footer>
    <a href="/articles/new">Submit a New Article</a>
  </footer>
</html>
